head
  title Restaurant Layout
  style(type='text/CSS').
    .layout {position:absolute; top:60; visibility:visible;z-index:0;}
    .cluster {position:absolute; visibility:visible;z-index:1;}
    .table {position:absolute; visibility:visible;z-index:2;}
    #A6{top:209; left:105}
    #B4{top:205; left:230}
    #B2{top:205; left:395}
    #C1{top:376; left:232}
    #C2{top:376; left:320}
    #C3{top:376; left:406}
    #c_A6{top:209; left:105}
    #c_B4{top:205; left:230}
    #c_B2{top:205; left:395}
    #c_C1{top:376; left:232}
    #c_C2{top:376; left:320}
    #c_C3{top:376; left:406}
    #c_B4_B2{top:195; left:220}
    #c_C1_C2{top:369; left:225}
    #c_C2_C3{top:369; left:311}
    #c_C1_C2_C3{top:369; left:222}
h2 Restaurant Layout
.layout
  img(name='layout' src='layout')
#A6.table
  img(name='A_6' src=T1)
#B4.table
  img(name='B_4' src=T2)
#B2.table
  img(name='B_2' src=T3)
#C1.table
  img(name='C1' src=T4)
#C2.table
  img(name='C2' src=T5)
#C3.table
  img(name='C3' src=T6)
#c_A6.cluster
  img(name='A_6' src=C1)
#c_B4.cluster
  img(name='B_4' src=C2)
#c_B2.cluster
  img(name='B_2' src=C3)
#c_C1.cluster
  img(name='C1' src=C4)
#c_C2.cluster
  img(name='C2' src=C5)
#c_C3.cluster
  img(name='C3' src=C6)
#c_B4_B2.cluster
  img(name='c_B4_CB2' src=C7)
#c_C1_C2.cluster
  img(name='c_C1_C2' src=C8)
#c_C2_C3.cluster
  img(name='c_C2_C3' src=C9)
#c_C1_C2_C3.cluster
  img(name='c_C1_C2_C3' src=C10)

